{% extends "base.html" %}{% block title %}Home{% endblock %}
{% block content %}
<div class="container-fluid mb-3">
  <h4 class="text-center m-2">Welcome, <strong>{{ username }}!</strong></h4>

  <ul class="list-group list-group-numbered" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
      {{ note.data }}
      <button type="button" class="btn-close float-end" onclick="deleteNote({{ note.id }})"></button>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="container-fluid">
  <form method="POST">
    <div class="mb-3">
      <textarea class="form-control" rows="5" id="note" name="note"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Note</button>
  </form>
</div>
{% endblock %}