{% extends "base.html" %}{% block title %}Login{% endblock %}
{% block content %}
<div class="container col-sm-8 mt-2 rounded shadow">
  <div class="container p-3">
    <h2>LOGIN</h2>
    <small>Need an account? <a href="/sign-up">Sign Up</a></small><br>
    <form method="POST" autocomplete="on">
      <div class="mb-3 mt-3">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
      </div>
      <div class="mb-3">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
      </div>
      <!--<div class="form-check mb-3">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember" required> Remember me
        </label>
      </div>-->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}